.list {
  font-family: sans-serif;
  font-weight: bold;
  color: blue;


}

.resume {

  font-family: cursive;

}

.ike {

  color:red;
}

.title{

  font-weight:bold;
}

.college{

  font-style: italic;
}
